- let thickness = 5;

mixin Pedal(width, height)
    .pedal-shell(class=`width-${width}px height-${height}px`)
        .pedal-whitespace(class=`width-${Math.floor(width - thickness / 2)}px height-${height - thickness}px`)

mixin Ring(size, hallow)
    .ring-body(class=`width-${size}px height-${size}px`)
        if hallow 
            .ring-whitespace(class=`width-${size - thickness}px height-${size - thickness}px`)

mixin Dash(width, height)
    .dash-body(class=`width-${width}px height-${height}px`)

mixin ForPedal(index, amt, width, height)
    .pedal(class=`pedals${index}`)
        - for (let i = 0; i < amt; i++)
            +Pedal(width, height)

mixin ForDash(index, amt, width, height)
    .dash(class=`dashes${index}`)
        - for (let i = 0; i < amt; i++)
            +Dash(width, height)

mixin ForDot(index, amt, size)
    .dot(class=`dots${index}`)
        - for (let i = 0; i < amt; i++)
            +Ring(size, false)

//- .dash.dashes2
//-     - for (let i = 0; i < 6; i++)
//-         .dash-cont1
//-             - for (let j = 0; j < 3; j++)
//-                 +Dash(10, 5)

doctype html
head
    meta(charset='UTF-8')
    meta(name='author' content='Ethan Philpott')
    meta(name='description' content='')
    meta(property='og:image' content='')
    meta(property='og:title' content='')
    meta(property='og:description' content='')
    title Hendala
    link(rel='stylesheet' href='styles/css/min/style.min.css')
    link(rel='shortcut icon' href='' type='image/x-icon')
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Poiret+One&family=Raleway&display=swap" rel="stylesheet")
body
    header.black-bg 
        .mandala
            +ForDash(3, 24, 10, 5)
            +ForPedal(7, 24, 20, 20)
            +Ring(165, true)
            +Ring(155, true)
            +ForPedal(6, 12, 25, 25)
            +ForPedal(5, 12, 35, 25)
            +ForDot(1, 12, 5)
            +ForDash(2, 12, 10, 5)
            +ForPedal(4, 12, 35, 25)
            +ForDash(1, 12, 10, 5)
            +Ring(80, true)
            +Ring(70, true)
            +ForPedal(3, 6, 30, 20)
            +ForPedal(2, 6, 20, 20)
            +ForPedal(1, 12, 10, 10)
            +Ring(25, true)
            +Ring(10, false)
        .intro-text
            - let introText = "Hendala"
            h1
                - for (let letter of introText)
                    span= letter
            h2 A Portfolio Website Made by 
                span Ethan Philpott
        .mandala    
            +ForDash(3, 24, 10, 5)
            +ForPedal(7, 24, 20, 20)
            +Ring(165, true)
            +Ring(155, true)
            +ForPedal(6, 12, 25, 25)
            +ForPedal(5, 12, 35, 25)
            +ForDot(1, 12, 5)
            +ForDash(2, 12, 10, 5)
            +ForPedal(4, 12, 35, 25)
            +ForDash(1, 12, 10, 5)
            +Ring(80, true)
            +Ring(70, true)
            +ForPedal(3, 6, 30, 20)
            +ForPedal(2, 6, 20, 20)
            +ForPedal(1, 12, 10, 10)
            +Ring(25, true)
            +Ring(10, false)
    main 
        article.title-card
            section.content.black-bg
                //- This is the slides nav, I can't put it in a div becuase of the way I am doing selectors
                div.label-cont 
                    label(for="#slide1-btn") About 
                    label(for="#slide2-btn") Skills 
                    label(for="#slide3-btn") Projects  
                    label(for="#slide4-btn") Contact 
                    label(for="#slide5-btn") Resume 
                    label(for="#slide6-btn") Credits 
                input#slide1-btn(type="radio", name="slide") 
                input#slide2-btn(type="radio", name="slide") 
                input#slide3-btn(type="radio", name="slide") 
                input#slide4-btn(type="radio", name="slide") 
                input#slide5-btn(type="radio", name="slide") 
                input#slide6-btn(type="radio", name="slide") 
                .slides 
                    .mandala
                        +ForDash(3, 24, 10, 5)
                        +ForPedal(7, 24, 20, 20)
                        +Ring(165, true)
                        +Ring(155, true)
                        +ForPedal(6, 12, 25, 25)
                        +ForPedal(5, 12, 35, 25)
                        +ForDot(1, 12, 5)
                        +ForDash(2, 12, 10, 5)
                        +ForPedal(4, 12, 35, 25)
                        +ForDash(1, 12, 10, 5)
                        +Ring(80, true)
                        +Ring(70, true)
                        +ForPedal(3, 6, 30, 20)
                        +ForPedal(2, 6, 20, 20)
                        +ForPedal(1, 12, 10, 10)
                        +Ring(25, true)
                        +Ring(10, false)
                    .slide.about 
                        h5 About 
                        p Hello! My name is Ethan Philpott and I am a junior programmer based in Arizona. As you may have noticed, the majority of graphics on this website are made entirely by styling divs. While this is not computationally sound and it would have been much faster and easier to use SVGs and Javascript, I figured I'd take up the challenge of making this website using as little Javascript as possible. Using the power of Pug and Sass, I was able to make the montrosity you are viewing now. If you would like to see the same website using SVGs and Javascript follow
                            | 
                            a(href="#") This Link
                    .slide.skills 
                        h5 Skills 
                    .slide.projects 
                        h5 Projects 
                    .slide.contact 
                        h5 Contant
                    .slide.resume
                        h5 Resume 
                    .slide.credits
                        h5 Credits
                        footer 
                            div Icons made by 
                                a(href="https://www.freepik.com" title="Freepik") Freepik
                                span from 
                                a(href="https://www.flaticon.com/" title="Flaticon") www.flaticon.com
                            div Icons made by 
                                a(href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect") Pixel perfect 
                                span from 
                                a(href="https://www.flaticon.com/" title="Flaticon") www.flaticon.com
            section.photo-and-details.white-bg
                .details 
                    .self-photo
                        .mandala 
                            .dot.dots3
                                - for (let i = 0; i < 12; i++)
                                    .dot-cont
                                        +ForDot(4, 3, 2, 2)
                            +Ring(140, true)
                            +ForPedal(9, 12, 30, 30)
                            +ForDot(2, 12, 5)
                            +ForDash(4, 24, 10, 5)
                            +ForPedal(8, 24, 15, 15)
                        .photo
                            img(src="assets/images/monke.jpg", alt="me")
                    .name
                        h3 Ethan Philpott 
                        h4 Infatuated with Code
                .socials
                    .img-cont 
                        a(href="#") 
                            img(src="assets/svgs/socials/github.svg", alt="github")
                    .img-cont 
                        a(href="#") 
                            img(src="assets/svgs/socials/linkedin.svg", alt="linkedin")
        




    script(src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous")
    script(src='scripts/main.js')