- let thickness = 10

mixin Pedal(width, height)
    .pedal-shell(class=`width-${width}px height-${height}px`)
        .pedal-whitespace(class=`width-${width - thickness / 2}px height-${height - thickness}px`)

mixin Ring(size, hallow)
    .ring-body(class=`width-${size}px height-${size}px`)
        if hallow 
            .ring-whitespace(class=`width-${size - thickness}px height-${size - thickness}px`)

doctype html
head
    meta(charset='UTF-8')
    meta(name='author' content='Ethan Philpott')
    meta(name='description' content='')
    meta(property='og:image' content='')
    meta(property='og:title' content='')
    meta(property='og:description' content='')
    title Pug Boiler Plate
    link(rel='stylesheet' href='../styles/css/min/style.min.css')
    link(rel='shortcut icon' href='' type='image/x-icon')
body 
    .intro
        .mandala 
            +Ring(125, true)
            .pedal.pedals3  
                - for (let i = 0; i < 6; i++)
                    +Pedal(50, 50)
            //- .dot.dots1 
            //-     - for (let i = 0; i < 6; i++)
            //-         +Ring(12, true)
            +Ring(100, true)
            .pedal.pedals2  
                - for (let i = 0; i < 12; i++)
                    +Pedal(30, 20)
            .pedal.pedals1  
                - for (let i = 0; i < 12; i++)
                    +Pedal(20, 20)
            +Ring(50, true) 
            +Ring(25, true) 

    .main-content 


    script(src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous")
    script(src='../scripts/main.js')