- let thickness = 5;

mixin Pedal(width, height)
    .pedal-shell(class=`width-${width}px height-${height}px`)
        .pedal-whitespace(class=`width-${Math.floor(width - thickness / 2)}px height-${height - thickness}px`)

mixin Ring(size, hallow)
    .ring-body(class=`width-${size}px height-${size}px`)
        if hallow 
            .ring-whitespace(class=`width-${size - thickness}px height-${size - thickness}px`)

mixin Dash(width, height)
    .dash-body(class=`width-${width}px height-${height}px`)

mixin ForPedal(index, amt, width, height)
    .pedal(class=`pedals${index}`)
        - for (let i = 0; i < amt; i++)
            +Pedal(width, height)

mixin ForDash(index, amt, width, height)
    .dash(class=`dashes${index}`)
        - for (let i = 0; i < amt; i++)
            +Dash(width, height)

mixin ForDot(index, amt, size)
    .dot(class=`dots${index}`)
        - for (let i = 0; i < amt; i++)
            +Ring(size, false)

//- .dot.dots1 
//-     - for (let i = 0; i < 6; i++)
//-         +Ring(12, true)

//- .dash.dashes2
//-     - for (let i = 0; i < 6; i++)
//-         .dash-cont1
//-             - for (let j = 0; j < 3; j++)
//-                 +Dash(10, 5)

doctype html
head
    meta(charset='UTF-8')
    meta(name='author' content='Ethan Philpott')
    meta(name='description' content='')
    meta(property='og:image' content='')
    meta(property='og:title' content='')
    meta(property='og:description' content='')
    title Pug Boiler Plate
    link(rel='stylesheet' href='../styles/css/min/style.min.css')
    link(rel='shortcut icon' href='' type='image/x-icon')
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet")
body 
    .intro
        .mandala
            +ForDash(3, 24, 10, 5)
            +ForPedal(7, 24, 20, 20)
            +Ring(165, true)
            +Ring(155, true)
            +ForPedal(6, 12, 25, 25)
            +ForPedal(5, 12, 35, 25)
            +ForDot(1, 12, 5)
            +ForDash(2, 12, 10, 5)
            +ForPedal(4, 12, 35, 25)
            +ForDash(1, 12, 10, 5)
            +Ring(80, true)
            +Ring(70, true)
            +ForPedal(3, 6, 30, 20)
            +ForPedal(2, 6, 20, 20)
            +ForPedal(1, 12, 10, 10)
            +Ring(25, true)
            +Ring(10, false)
        .intro-text
            - let introText = "Hendala"
            - for (let letter of introText)
                h1= letter
        .mandala    
            +ForDash(3, 24, 10, 5)
            +ForPedal(7, 24, 20, 20)
            +Ring(165, true)
            +Ring(155, true)
            +ForPedal(6, 12, 25, 25)
            +ForPedal(5, 12, 35, 25)
            +ForDot(1, 12, 5)
            +ForDash(2, 12, 10, 5)
            +ForPedal(4, 12, 35, 25)
            +ForDash(1, 12, 10, 5)
            +Ring(80, true)
            +Ring(70, true)
            +ForPedal(3, 6, 30, 20)
            +ForPedal(2, 6, 20, 20)
            +ForPedal(1, 12, 10, 10)
            +Ring(25, true)
            +Ring(10, false)
    .main-content 


    script(src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous")
    script(src='../scripts/main.js')